
.day {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    text-align: left;
    border-top: 2px solid #302f2f;
    width: 150px;
    height: 200px;
  }
  
  .day:hover,
  .day:focus,
  .day:active {
    color: #f5813d;
    border-color: #f5813d;
    background-color: #f3f1f0;
  }
  
  .day h1 {
    font-weight: normal;
  }
  
  .day .event {
    font-weight: normal;
    color: #302f2f;
  }
  
  .day .event:hover {
    font-weight: bold;
    cursor: pointer;
  }
  
  .day .time {
    font-size: small;
    color: lightslategrey;
  }
  
  .day a {
    color: #302f2f;
    text-decoration: underline;
    font-weight: normal;
  }
  
  .day a:hover {
    font-weight: bold;
    cursor: pointer;
  }
  