.dayname {
  margin: 5px;
  padding: 30px;
  text-align: left;
  height: 100px;
  font-size: large;

}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
