.details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 100px;
    width: 50%;
    border-left: 2px solid;
    padding: 30px;
    font-size: large;
}

.meeting {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    text-align: left;
  }
  
  .meeting p {
    font-size: x-large;
    font-weight: normal;
    width: fit-content;
  }
  
  .meeting p:hover {
    font-size: x-large;
    color: #f5813d;
    font-weight: bold;
    cursor: pointer;
  }
  